<body>
   <h1>Hello, world!</h1>

<div class="posts_container">
         <% @posts.each do|post| %>
         <div class=”post_wrapper”>
         <h2 class=“title”><%= link_to post.title, post %> </h2>
         <h2 class=“title”><%= image_tag post.avatar %> </h2>
         <p class="date"><%= post.created_at.strftime("Posted on %B %d, %Y at %H:%M") %></p>
        </div>
         <% end %>
</div>
</body>
