
<div class="content">
    This is the map view! Aren't you excited?!!
</div>




<div id="map"></div>

<script type="text/javascript">
// init is called after the map lib is loaded
google.maps.event.addDomListener(window, 'load', init);
function init() {
  var locations = [
	['Paris, France', 48.856614, 2.352222, 1],
	['Barcelona, Spain', 41.385064, 2.173403, 2],
	['Istanbul, Turkey', 41.008238, 28.978359, 3]
  ];

  // this is a custom pink style. u can google for premade map styles
  var style = [{"featureType":"all","elementType":"geometry","stylers":[{"color":"#eec8df"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"gamma":0.01},{"lightness":20}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"saturation":-31},{"lightness":-33},{"weight":2},{"gamma":0.8}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative.province","elementType":"labels.text.stroke","stylers":[{"saturation":"-98"},{"lightness":"87"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"lightness":"-84"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text.fill","stylers":[{"lightness":"100"},{"saturation":"-1"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text.stroke","stylers":[{"saturation":"66"},{"lightness":"0"},{"weight":"2.60"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"lightness":30},{"saturation":30}]},{"featureType":"poi","elementType":"geometry","stylers":[{"saturation":20}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"lightness":20},{"saturation":-20}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":"68"},{"saturation":"-14"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"saturation":25},{"lightness":25}]},{"featureType":"road","elementType":"labels.text","stylers":[{"saturation":"-100"},{"lightness":"-32"},{"gamma":"1.21"},{"weight":"0.01"}]},{"featureType":"water","elementType":"all","stylers":[{"lightness":-20}]}]

  var map = new google.maps.Map(document.getElementById('map'), {
	zoom: 4,
	center: new google.maps.LatLng(47.071876, 15.441456),
	mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // set style
  map.setOptions({styles: style});

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
	marker = new google.maps.Marker({
	  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
	  map: map
	});

	google.maps.event.addListener(marker, 'click', (function(marker, i) {
	  return function() {
		infowindow.setContent(locations[i][0]);
		infowindow.open(map, marker);
	  }
	})(marker, i));
  }
  }
</script>
